<%= content_for :head do %>
  <%= stylesheet_link_tag "home" %>
<% end %>

<div class="jumbotron center">
    <h1>Welcome to Nippon Beauty the UK home of luxury cosmetics!</h1>
    <p>
      <%= link_to "LADIES RANGE", pins_path, class: "btn btn-pink btn-lg" %>
      <%= link_to "MENS RANGE", "#", class: "btn btn-info btn-lg" %>
  	</p>    
</div>





